html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.blue{
  background-color: #154475;
}

#title {
  text-align: center;
  font-size: 2em;
  transition: all linear;
}

#title:hover{
  color: #75C4E4;
  transform: (10px, 8px);
}
.numbers-left {
  animation: numbers 1s ease-in infinite;
  transform-origin: center;
}
.numbers-right{
    animation: numbers 1s ease-in infinite;
    transform-origin: center;
}

@keyframes numbers {

  0% {
    transform: rotate(0deg);
}

  30% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shake{
  animation: shakeit 3s infinite;
}

@keyframes shakeit{

  from{ transform: translate(-10px, 0px);}

  to { transform: translate(0px, 0);}
}


#h2{
  text-align: center;
}

#h2:hover{
  fill: lightblue;
  transform: (10px, 8px);
}

.blue{
  text-align: center;
}

.blue:hover{
  fill: lightblue;
  transform: (10px, 8px);
}

.slide{
  animation: slide 20s alternate;
}

@keyframes slide{

  from{ transform: translate(-200px, 0px);}

  to { transform: translate(0px, 0);}
}
