html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.blue {
  background-color: #154475;
}

#title {
  text-align: center;
  font-size: 2em;
  transition: all linear;
}

#title:hover {
  color: #75c4e4;
}

.numbers-left {
  animation: numbers 1s ease-in infinite;
  transform-origin: center;
}

.numbers-right {
  animation: numbers 1s ease-in infinite;
  transform-origin: center;
}

@keyframes numbers {

  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shakeit 3s infinite;
}

@keyframes shakeit {

  from { transform: translate(-10px, 0); }

  to { transform: translate(0, 0); }
}

#h2 {
  text-align: center;
}

#h2:hover {
  fill: lightblue;
}

.blue {
  text-align: center;
}

.cls-1 {
  fill: #154475;
}

.cls-11, .cls-2 {
  fill: #75c4e4;
}

.cls-3 {
  fill: #0292ca;
}

.cls-4 {
  fill: none;
}

.cls-5, .cls-6, .cls-9 {
  font-size: 12px;
}

.cls-12, .cls-14, .cls-16, .cls-34, .cls-35, .cls-37, .cls-38, .cls-5, .cls-6, .cls-8, .cls-9 {
  fill: #fff;
}

.cls-11, .cls-12, .cls-13, .cls-16, .cls-37, .cls-38, .cls-5, .cls-6, .cls-8, .cls-9 {
  font-family: Helvetica;
}

.cls-5 {
  font-weight: 700;
}

.cls-8 {
  font-size: 16px;
}

.cls-16, .cls-38, .cls-9 {
  white-space: pre;
}

.cls-10 {
  fill: #aeacb8;
}

.cls-11 {
  font-size: 10.35px;
}

.cls-12, .cls-13 {
  font-size: 8.62px;
}

.cls-13 {
  fill: #f8f7f8;
}

.cls-14 {
  font-size: 23.29px;
  font-family:Avenir;
}

.cls-15 {
  letter-spacing: -1px;
}

.cls-16 {
  font-size: 12.07px;
}

.cls-17 {
  fill: #f4f4bc;
}

.cls-18 {
  fill: #e0deaf;
}

.cls-19 {
  fill: #f9f8dd;
}

.cls-20 {
  fill: #deecbe;
}

.cls-21 {
  fill: #d3dbbe;
}

.cls-22 {
  fill: #eff4e4;
}

.cls-23 {
  fill: #c4dfb0;
}

.cls-24 {
  fill: #b5cca3;
}

.cls-25 {
  fill: #e2efd3;
}

.cls-26 {
  fill: #5797aa;
}

.cls-27 {
  fill: #b9e5f6;
}

.cls-28 {
  fill: #e3c7e0;
}

.cls-29 {
  fill: #c9b3c7;
}

.cls-30 {
  fill: #f5ddeb;
}

.cls-31 {
  fill: #9f81a1;
}

.cls-32 {
  fill: #7b6b7c;
}

.cls-33 {
  fill: #caa8cc;
}

.cls-35 {
  font-size: 9.49px;
}

.cls-35, .cls-36 {
  font-family: Myriad Pro;
}

.cls-36 {
  font-size: 4.48px;
}

.cls-37, .cls-38 {
  font-size: 5.54px;
}

.blue:hover {
  fill: lightblue;
}

.slide {
  animation: slide 20s alternate;
}

@keyframes slide {

  from { transform: translate(-200px, 0); }

  to { transform: translate(0, 0); }
}
